@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

/* generic style  */

body {
	margin: 0;
	font-family: 'Spectral', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./assets/images/background-image.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
